.login-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../../../images/world-flags-modal-background.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 562px;
  width: 800px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #022a54f0;
  backdrop-filter: blur(7px);
  border-radius: 5px;
  width: 50%;
  height: 50%;
}

.login-form h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-form .inputs {
  width: 40%;
}

.login-form label {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-form input {
  padding: 8px;
  margin-top: 8px;
  border-radius: 5px;
  background-color: #354c7c;
  color: white;
  border: 1px solid #022954;
}

.login-form input::placeholder {
  color: #022954;
}

.login-form .errors {
  color: red;
  margin-bottom: 10px;
  font-size: .7rem;
}

.login-form input[type="submit"] {
  background-color: #354c7c;
  color: white;
  cursor: pointer;
  width: 50%;
}

.login-form input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  width: 50%;
}