.about-us-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #fbe1b5, #5e97abca);
  padding-top: 80px;
}

.display-meet-the-team {
    animation: fade 4s infinite;
      opacity: 0;
      text-align: center;
      font-size: 500%;
      color: #0A345B;
      white-space: nowrap;
      height: 100%;
      position: fixed;
      font-family: 'BrandierTrial-SemiBoldItalic';
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 350px;
  /* border-radius: 50%; */
  margin-bottom: 10px;
}

.member-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member-details p {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}

.social-links a:hover {
  text-decoration: underline;
}
