.signup-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 450px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.signup-form h2 {
  color: #022a54;
  font-size: 2rem;
  margin-bottom: 20px;
}

.signup-form .inputs {
  width: 45%;
}

.signup-form label {
  color: #022a54f0;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.signup-form input {
  padding: 8px;
  margin-top: 8px;
  border-radius: 5px;
  background-color: white;
  color: #022a54f0;
  border: 1px solid #022a54f0;
}

.signup-form input::placeholder {
  color: gray;
}

.signup-form .errors {
  color: red;
  margin-bottom: 10px;
  font-size: .7rem;
}

.signup-form input[type="submit"] {
  background-color: #022a54f0;
  color: white;
  cursor: pointer;
  width: 50%;
}

.signup-form input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  width: 50%;
}

.signup-form input[type="submit"]:hover {
  transform: scale(1.05);
}

.signup-form input[type="submit"]:disabled {
    transform: none;
}