.nav-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    position: relative;
}

.nav-bar.logged-in {
    background-color: #022a54f0;
}

.nav-bar.logged-out {
    background-color: transparent;
}

.nav-bar-header {
    font-size: 2rem;
    margin: 0px;
    color: white;
}

.no-underline {
    text-decoration: none;
}

/* logged out nav links */

.logged-out-links {
    display: flex;
    align-items: center;
}

.logged-out-links .signup-button, .login-button {
    height: 30px;
    width: 90px;
    margin-left: 10px;
    font-weight: bold;
    border: 2px solid #022a54f0;
    border-radius: 3ch;
    background-color: white;
    color: #022a54f0;;
    cursor: pointer;
}

 .signup-button:hover,
 .login-button:hover {
     transform: scale(1.05);
 }

 .logged-out-links a {
     margin-left: 10px;
     border: none;
     color: white;
     cursor: pointer;
     text-decoration: none;
     white-space: nowrap;
     display: inline-block;
     text-align: center;
     font-size: 1rem;
 }

 .logged-out-links a:hover {
     text-decoration: underline;
 }

/* logged in nav links */

.logged-in-links {
    display: flex;
    align-items: center;
}

.all-events {
    display: flex;
    justify-content: center;
}

.logged-in-links a {
    margin-left: 10px;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
}

.logged-in-links a:hover {
    text-decoration: underline;
}

.create-event-button {
    margin-left: 10px;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    background: transparent;
    font-size: 1rem;
}

.create-event-button:hover {
    text-decoration: underline;
}

.logout-button {
    height: 30px;
    width: 80px;
    margin-left: 10px;
    font-weight: bold;
    border: none;
    border-radius: 3ch;
    cursor: pointer;
    background-color: white;
    color: #022a54f0;
}

.logout-button:hover {
    transform: scale(1.05);
}