.nav-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
    position: relative;
}

.nav-bar-header {
    font-size: 30px;
    font-family: Helvetica;
    margin: 0px;
    color: #354c7c;
}

/* logged out nav */

.logged-out-links .signup-button, .login-button {
    height: 25px;
    width: 100px;
    margin-left: 10px;
    font-weight: bold;
    border: 2px solid #354c7c;
    border-radius: 3ch;
    background-color: transparent;
    color: #354c7c;
    cursor: pointer;
    font-family: Helvetica;
}

/* logged in nav */

.logged-in-links a,
.logged-in-links button {
    height: 25px;
    width: 130px;
    margin-left: 10px;
    font-weight: bold;
    border: 2px solid #354c7c;
    border-radius: 3ch;
    background-color: transparent;
    color: #354c7c;
    cursor: pointer;
    font-family: Helvetica;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
}

.all-events {
    display: flex;
    justify-content: center;
}

.logged-in-links button {
    background-color: #354c7c;
    color: white;
}

.logged-in-links button:hover,
.logged-in-links a:hover {
    background-color: #354c7c;
    color: white;
}