.nav-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
    position: relative;
}

.nav-bar-header {
    font-size: 2rem;
    margin: 0px;
    color: #022a54f0;
}

.no-underline {
    text-decoration: none;
}

/* logged out nav */

.logged-out-links .signup-button, .login-button {
    height: 25px;
    width: 100px;
    margin-left: 10px;
    font-weight: bold;
    border: 2px solid #022a54f0;
    border-radius: 3ch;
    background-color: transparent;
    color: #022a54f0;
    cursor: pointer;
}

/* logged in nav */

.all-events {
    display: flex;
    justify-content: center;
}

.logged-in-links a {
    margin-left: 10px;
    border: none;
    color: #022a54f0;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
}

.logged-in-links a:hover {
    text-decoration: underline;
}

.create-event-button {
    margin-left: 10px;
    border: none;
    color: #022a54f0;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    background: transparent;
    font-size: 1rem;
}

.create-event-button:hover {
    text-decoration: underline;
}

.logout-button {
    height: 30px;
    width: 80px;
    margin-left: 10px;
    font-weight: bold;
    border: none;
    border-radius: 3ch;
    cursor: pointer;
    background-color: #022a54f0;
    color: white;
}

.logout-button:hover {
    transform: scale(1.05);
}