.notifications-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  width: 49%;
  border-radius: 10px;
  background-color: #F7F1DF;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.notification-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  /* border: 1px solid pink; */
}

.notification-container:first-child {
  margin-top: 10px;
}

.title-user {
  display: flex;
  flex-direction: column;
  /* border: 1px solid gray; */
}

.pending-div {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: start;
  gap: 10px;
  height: 300px;
  width: 450px;
  overflow-y: scroll;
  /* border: 1px solid yellow; */
}

#notifications-title {
  margin-top: 20px;
}

.handle-delete {
  margin-left: 10px;
  height: auto;
  width: 100px;
  padding: 5px 10px;
  display: inline-block;
  border: 1px;
  background-color: red;
  color: white;
  border-radius: 30px;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}

.handle-accept {
  margin-left: 10px;
  height: auto;
  width: 100px;
  padding: 5px 10px;
  display: inline-block;
  border: 1px;
  background-color: green;
  color: white;
  border-radius: 30px;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}