.notifications-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* margin-top: 40px; */
    /* border: 3px solid black; */
    width: 49%;
  /* width: 33%; */
    border-radius: 10px;
    background-color: #F7F1DF;
}

.notifications-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 10px; */
  /* border: 1px solid brown; */
  /* border-bottom: 1px solid #A2D5C6; */
    border-radius: 10px;
}

.notifications-container:first-child {
  margin-top: 10px;
}

.title-user {
  display: flex;
  flex-direction: column;
}

.pending-div {
  border-top: 2px solid #93c4a0;
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: start;
  /* width: 400px; */
  gap: 10px;
  /* border: 3px solid #A2D5C6; */
    height: 300px;
      width: 450px;
      overflow-y: scroll;
}

#notifications-title {
  text-align: center;
  margin-top: 20px;
  /* border-bottom: 1px solid #A2D5C6; */
}

/* .pending-div {
  border: 3px solid red;

} */

/* .pending-btns {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.btns-container {
/* border: 1px solid red; */
}

.pending-user {
  /* padding-right: 40px; */
/* border: 1px solid blue; */
}

.handle-delete {
  margin-left: 10px;
  height: auto;
  width: 100px;
  padding: 5px 10px;
  display: inline-block;
  border: 1px;
  background-color: red;
  color: white;
  border-radius: 30px;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}

.handle-accept {
  margin-left: 10px;
  height: auto;
  width: 100px;
  padding: 5px 10px;
  display: inline-block;
  border: 1px;
  background-color: green;
  color: white;
  border-radius: 30px;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}