.create-event-modal, .update-event-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 600px;
  width: 600px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-form {
  padding: 20px;
  background: linear-gradient(to bottom, #fbe1b5, #b5cffb);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.event-form h2 {
  color:  #0A345B;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.event-form .selects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-right: 13px;
}

.event-form select {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 150px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  height: 100%;
  font-size: .8rem;
}

.event-select-btn {
  cursor: pointer;
  padding: 8px;
  /* border-radius: 5px; */
  /* margin-top: 8px; */
  white-space: nowrap;
  border: none;
  border-radius: 20px;
  width: 120px;
  height: 15px;
  border: none;
  cursor: pointer;
  background-color:  #0A345B;;
  font-weight: bold;
  z-index: 100;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.event-form .select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}

.event-form .inputs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30%;
}

.event-form .errors {
  color: red;
  margin-top: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.event-form input {
  padding: 8px;
  margin-top: 8px;
  background-color: transparent;
  color:  #0A345B;;
  border: none;
  border-bottom: 1px solid  #0A345B;;
  width: 200px;
  outline: none;
  font-size: 1rem;
}

.event-form input::placeholder {
  color: gray;
  font-size: 1rem;
}

.event-form textarea {
  resize: none;
  border-radius: 5px;
  height: 120px;
  width: 500px;
  max-height: 120px;
  max-width: 500px;
  background-color: transparent;
}

.event-form input[type="submit"] {
  background-color:  #0A345B;;
  color: white;
  cursor: pointer;
  width: 50%;
  height: 7%;
  margin-top: 40px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1rem;
}

.event-form input[type="submit"]:hover {
  transform: scale(1.05);
}