.create-event-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 450px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}