.event-index {
  display: flex;
  width: 100%;
  background: white;
  height: 100vh;
  padding-top: 45px;
}

.display-all-events {
  display: flex;
  width: 30%;
  /* padding: 10px; */
  flex-wrap: wrap;
  overflow-y: auto;
  height: 95%;
  align-content: flex-start;
  justify-content: center;
  /* border: 3px solid blue; */
}

#filter-form {
  /* position: fixed; */
  margin-top: 25px;
  margin-bottom: 15px;
  /* border: 3px solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-right: 10px; */
}

#filter-form select {
  /* background-color: transparent; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
    width: 150px;
    background-color: transparent;
        border: none;
          outline: none;
    color: black;
  cursor: pointer;
  height: 100%;
  font-size: .8rem;
    text-align: center;
}

.select-btn {
  cursor: pointer;
  padding: 8px;
  /* border-radius: 5px; */
  /* margin-top: 8px; */
  white-space: nowrap;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: #93c4a0;
  font-weight: bold;
  z-index: 100;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

/* 
.google-maps-container {
  flex: 1;
  padding: 20px;
  border-top: 3px solid #93c4a0;;
  pointer-events: none; 
  height: 100vh;
} */

/* .google-maps-container,
.display-all-events {
  height: calc(90vh - 20px); 
} */