html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.event-show-index {
    display: flex;
    width: 100vw;
    padding-top: 45px;
    /* background: linear-gradient(to bottom, #FBE1B5, white); */
    background: linear-gradient(to bottom, #fbe1b5, #b5cffb);
}

.display-one-event {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 800px;
    height: 745px;
    /* border: 3px solid black; */
    margin-top: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.event-info-list span {
    margin-top: 10px;
}

.event-info-list div {
    font-size: 20px;
    color: black;
    padding: 5px;
}

/* .google-maps-show-container {
    padding: 20px;
    pointer-events: none;
    height: 100vh;
    width: 596px;
} */

.event-info-list .event-title {
    position: relative;
    /* height: 100px; */
    width: 100%;
    font-weight: bolder;
    font-size: 30px;
    /* Center the text horizontally */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* Adjust the top margin as needed */
}

.event-title-host {
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 10px;
}

.event-details {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: space-between;
    height: 600px;
    margin-left: 10px;
}

.event-description-div {
    font-weight: bolder;
    max-width: 700px;
}

.event-description {
    font-weight: 100;
}

.event-date-div {
    font-weight: bold;
}

.event-date {
    font-weight: 100;
    display: flex;
    align-items: center;
}

.event-time-div {
    font-weight: bold;
}

.event-time {
    font-weight: 100;
}

.event-location-div {
    font-weight: bold;
}

.event-location {
    font-weight: 100;
}

.event-address-div {
    font-weight: bold;
}

.event-address {
    font-weight: 100;
}

.event-long-div {
    font-weight: bold;
    margin-left: 10px;
}

.event-long {
    font-weight: 100;
}

.event-lat-div {
    font-weight: bold;
    margin-left: 10px;
}

.event-lat {
    font-weight: 100;
}

.event-language {
    color: #9CC0F9;
    font-weight: bold;
}

.edit-event {
    margin-left: 10px;
    height: auto;
    width: 100px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px;
    background-color: black;
    color: white;
    border-radius: 30px;
    text-align: center;
    line-height: 2;
    cursor: pointer;
}

.delete-event {
    margin-left: 10px;
    height: auto;
    width: 100px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px;
    background-color: red;
    color: white;
    border-radius: 30px;
    text-align: center;
    line-height: 2;
    cursor: pointer;
}

.join-event {
    margin-left: 10px;
    height: auto;
    width: 150px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px;
    background-color: black;
    color: white;
    border-radius: 30px;
    text-align: center;
    line-height: 2;
    cursor: pointer;
}

.unjoin-event {
    margin-left: 10px;
    height: auto;
    width: 150px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px;
    background-color: green;
    color: black;
    border-radius: 30px;
    text-align: center;
    line-height: 2;
    cursor: pointer;
}

.event-show-index button:hover {
    transform: scale(1.05);
}

.attendee-details {
    align-items: center;
}

.attendee-pfp {
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
}

.attendee-username {
    position: relative;
    bottom: 15px;
    left: 5px;
}

.event-date-time {
    display: flex;
    flex-direction: column;
    /* border: solid #b5cffb; */
    /* background-color: #b5cffb; */
    width: 100%;
    margin-top: 10px;
}

.event-section {
    
}

.event-icon {
    margin-right: 5px;
    width: 5%;
    height: 5%;
}