.event-item {
    padding: 20px;
    height: 200px;
    width: 780px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid #0A345B;;
    box-sizing: border-box;
    color: #0A345B;;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.event-item:hover {
    transform: scale(1.02);
    border: 3px solid #0A345B;;
    border-radius: 10px;
    animation: backgroundGlow 2s ease-in-out infinite alternate;
    cursor: pointer;
}

@keyframes backgroundGlow {
    from {
        box-shadow: 0 0 1px #0d1948, 0 0 3px #0d1948, 0 0 5px #0d1948;
    }
    to {
        box-shadow: 0 0 2px #0d1948, 0 0 4px #0d1948, 0 0 6px #0d1948;
    }
}

.event-item-time,
.event-item-description,
.event-item-location {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    height: 20%;
}