.event-item {
    padding: 20px;
    height: 22%;
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    transition: transform 0.2s ease-in-out;
    border: 3px solid #0A345B;
    color: #0A345B;
}

.event-item:hover {
    border: 3px solid #b5cffb;
    color: #b5cffb;
    transform: scale(1.02);
    border-radius: 10px;
    animation: backgroundGlow 2s ease-in-out infinite alternate;
    cursor: pointer;
}

.event-item-time,
.event-item-description,
.event-item-location {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    height: 20%;
}