.event-index {
  display: flex;
  width: 100%;
  /* background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%); */
  /* background: linear-gradient(to bottom, rgb(175, 237, 255) 10.9%, rgb(255, 163, 252) 63.8%); */
  /* background: linear-gradient(to top, rgb(251, 194, 235) 0%, rgb(166, 193, 238) 100%); */
  background: white;
  /* background: linear-gradient(179.7deg, rgb(248, 126, 126) -0.5%, rgb(251, 206, 143) 35.3%, rgb(184, 252, 233) 67.2%, rgb(118, 162, 229) 92.3%); */

  /* background: linear-gradient(to bottom, #EEE4D4, #FCEFD2); */
  height: 100vh;
  padding-top: 45px;
  /* margin-top: 45px; */
}

.display-all-events {
  display: flex;
  width: 30%;
  /* padding: 10px; */
  flex-wrap: wrap;
  overflow-y: auto;
  height: 95%;
  align-content: flex-start;
  /* justify-content: center; */
}

#filter-form {
  /* position: fixed; */
  margin-top: 25px;
  margin-bottom: 15px;
}

#filter-form select {
  /* background-color: transparent; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
    width: 150px;
    background-color: transparent;
        border: none;
          outline: none;
    color:white;
  cursor: pointer;
  height: 100%;
  font-size: .8rem;
}

.select-btn {
      cursor: pointer;
      padding: 8px;
      /* border-radius: 5px; */
      /* margin-top: 8px; */
      white-space: nowrap;
      border: none;
      border-radius: 20px;
    width: 100px;
    height: 20px;
    border: none;
  cursor: pointer;
    background-color: black;
    font-weight: bold;
    z-index: 100;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

/* 
.google-maps-container {
  flex: 1;
  padding: 20px;
  border-top: 3px solid #0A345B;;
  pointer-events: none; 
  height: 100vh;
} */

/* .google-maps-container,
.display-all-events {
  height: calc(90vh - 20px); 
} */