.user-guide-section .instruction {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease, transform 2s ease;
}

.user-guide-section .slide-in {
  opacity: 1;
  transform: translateX(0);
}

.user-guide-section .slide-left {
  transform: translateX(-50px);
}

.user-guide-section .slide-right {
  transform: translateX(50px);
}

.user-guide-section .instruction.slide-left.slide-in,
.user-guide-section .instruction.slide-right.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.user-guide-section {
  height: 3000px;
  width: 100vw;
  background: linear-gradient(to bottom, white, #b5cffb, #fbe1b5);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.user-guide-section .instruction-div {
  padding: 50px;
  height: 100px;
  width: 700px;
  border-radius: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.user-guide-section .auth {
  background-color: pink;
}

.user-guide-section .event {
  background-color: green;
}

.user-guide-section .host-or-join {
  background-color: gray;
}

.user-guide-section .customize-profile {
  background-color: orange;
}