.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.profile-greeting {
    border-top: 5px solid #022a54f0;
    border-left: 5px solid #022a54f0;
    border-right: 5px solid #022a54f0;
    font-size: 60px;
    text-align: center;
    color: #022a54f0;
    background-color: whitesmoke;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-details-div {
    display: flex;
    border: 5px solid #022a54f0;
    height: 100%;
}

.profile-img-div {
    flex: 1;
    overflow: hidden;
}

.profile-back-to-main-div {
    position: relative;
    height: 56px;
    width: 56px;
    border: 5px solid #022a54f0;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-back-to-main-button {
    cursor: pointer;
    height: 35px;
    width: 40px;
    background-color: white;
    border: none;
    position: relative;
    bottom: 3px;
    color: #022a54f0;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.1);
}

.upload-label {
    border: 5px solid #022a54f0;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    color: #022a54f0;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center; 
    margin-top: 10px;
    position: relative; 
    bottom: 70px;
    margin-left: 500px;
}

.profile-img-container {
    text-align: center;
    height: 70%;
    width: 70%;
    position: relative;
    border: 10px solid #022a54f0;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
    bottom: 60px;
}

.profile-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 5px solid #022a54f0;
    padding: 20px;
}

.profile-details div {
    padding: 10px;
    border: 5px solid #022a54f0;
    border-radius: 10px;
    width: 500px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #022a54f0;
}

.profile-details button {
    height: 55px;
    width: 120px;
    position: relative;
    left: 555px;
    bottom: 55px;
    border-radius: 10px;
    border: 5px solid #022a54f0;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: #022a54f0;
    cursor: pointer;
}

.fade-in {
    animation: fadeIn ease 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}