/* TODO Add site wide styles */
@import './reset.css';

body {
  font-family: Poppins, Geneva, Tahoma, sans-serif;
  background-color: white;
}

@font-face {
  font-family: 'BrandierTrial-SemiBoldItalic';
  src: url('./static/fonts/brandier/BrandierTrial-SemiBold.otf') format('truetype');
}

.main-page {
  overflow-y: scroll;
  height: 100vh;
}

/* hide banner for google translate */

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

/* style select */

.goog-te-gadget-simple {
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
}