/* TODO Add site wide styles */
@import './reset.css';

body {
  font-family: Geneva, Tahoma, sans-serif;
}

/* @font-face {
  font-family: 'BrandierTrial-SemiBoldItalic';
  src: url('./fonts/brandier/') format('truetype');
} */