.splash-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #FBE1B5, white);
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}

.currentlanguage {
  animation: fade 4s infinite;
  opacity: 0;
  text-align: center;
  font-size: 500%;
  color: #0A345B;
  white-space: nowrap;
  height: 100%;
  position: fixed;
  font-family: 'BrandierTrial-SemiBoldItalic';
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}

.image {
  width: 480px;
  opacity: 0;
  transform: translateY(-100px);
  animation: dropdownAndBounce 2s ease-out forwards;
}

@keyframes dropdownAndBounce {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.review {
  color: #0A345B;
  font-size: 1.5rem;
  width: 70%;
  letter-spacing: 2px;
  position: absolute;
  z-index: 1;
  margin-top: 30%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #0A345B;;
}